body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}


.header, .footer, .hero-area {
    background-color: #1f2937;
}

/* header-area */

.header {
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
    
}

.logo {
   font-size: 24px;
   color: #f9faf8;
   margin-right: auto;
   font-weight: 900;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 5px;
}

a {
    color:#e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

/* hero-area */

.hero-area {
    display: flex;
    align-items: center;
    justify-content: center;;
    padding: 80px;
    gap: 100px;
}

.phero1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 0px;
}

.phero2 {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
    margin-top: 0px;
}

#button1 {
    color: white;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

img {
    margin: 0px;
    padding: 0px;
    height: 250px;
    
}

/* information area */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;;
    padding: 25px;
}

.info .container {
    display: flex;
    gap: 30px;
    text-align: center;
}

.align-center {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.align-center .img1 {
    border: 2px solid rgb(122, 120, 235);
    border-radius: 5px;
    height: 100px;
    width: 100px;
}

.align-center .img2 {
    border: 2px solid rgb(122, 120, 235);
    border-radius: 5px;
    height: 100px;
    width: 100px;
}

.align-center .img3{
    border: 2px solid rgb(122, 120, 235);
    border-radius: 5px;
    height: 100px;
    width: 100px;
}

.align-center .img4 {
    border: 2px solid rgb(122, 120, 235);
    border-radius: 5px;
    height: 100px;
    width: 100px;
}

#p2 {
    color:#27292b
}

/* testimonials */

.testimonials {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 80px;
    align-items: center;
}

.p3 {
    font-size: 36px;
    color: #1f2937;
    margin-bottom: 0px;
    font-weight: 200;
}

.author {
    align-self: flex-end;
}

/* Signup area */

.signup {
    display: flex;
    padding: 80px;
    justify-content: center;
    
   
}

.signup-container {
    display: flex;
    align-items: center;
    background-color: hsl(217, 91%, 59%);
    padding: 30px 80px 30px 80px;
    gap: 150px;
    border-radius: 10px;
    color: #f9faf8
    
}

.signup-text{
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
}

.white-h3 {
    margin-bottom: 0px;
}

.p4 {
    margin-top: 10px;
}

#button2 {
    display:flex;
    align-items: center;
    color: white;
    border: 2px solid white;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 10px;
    flex-shrink: 0;
    
}

/* footer */

.footer {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    
}













   

